.container {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100vh;
		}
		.search-container {
			width: 100%;
			max-width: 500px;
			position: relative;
		}
		.search-container i {
			position: absolute;
			top: 50%;
			left: 10px;
			transform: translateY(-50%);
			height: 30px;
			width: 30px;
		}
		.search-container input.form-control {
			padding-left: 50px;
			height: 60px;
			font-size: 24px;
		}
body{
  background:lightgreen;
}
